# Ignore Terraform local state files
*.tfstate
*.tfstate.backup
terraform.tfstate.d/

# Ignore Terraform variables (for security)
*.tfvars
*.tfvars.json

# Ignore SSH keys and credentials
*.pem
*.ppk
credentials.csv

# Ignore Terraform lock file
.terraform.lock.hcl

# Ignore Terraform cache and provider plugins
.terraform/
.terraform.lock.hcl

# Ignore Logs and temp files
*.log
*.bak
*.swp
.DS_Store

plan
plan.tfgraph
